h1 {
    color:red;
}

#wordHuntContainer{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 120px;

}

.tableCell{
    border: 1px solid;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;    
}

.tableCell:hover{
border-color:red;;
background: #ccc;
}

.selected{
    border-color: green;
    background: #4e4e4e;
    color: white;
}

.selected:hover{
    border-color: green;
    background: #4e4e4e;
    color: white;
    }